.screen{
    background-image: url("https://www.teahub.io/photos/full/358-3584284_purple-background-anime-space.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 605px;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-screen{
    height: 200px;
    width: 315px;
    padding-left: 40%;
    padding-top: 15%;
}

.login-form, .form-title, .login-button, .input-label, .input, .subtext, .register-link{
    background-image: none;
    background-color: white;
}

.login-form{
    border: 10px solid white;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-left:15px;
    padding-right:15px;
    box-shadow: 6px 6px 8px rgb(46, 45, 46);
}

.login-button{
    margin-left: 99px;
    border: 1px solid white;
    background-color: #070707;
    height: 25px;
    width: 65px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

.form-title{
    margin-left: 100px;
    margin-bottom: 30px;
}

.subtext, .register-link{
    font-size: 12px;
}

.subtext{
    margin-left: 35px;
}

.input-label, .input{
    font-size: 13.5px;
    margin-left: 9px;
}

.input{
    border: 1px solid grey;
    border-radius: 2px;
}

.input-label{
    margin-left: 20px;
}

.login-error-message{
    font-size: 13.5px;
    color: red;
    margin-left: 50px;
}